/*Navbar*/
img{
    width: 15%;
}
.w3-card-12 w3-margin{
    width: 50%;
    background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/*Cards Llista Productes*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

/*Registrar clients i productes*/
.container {
    padding: 2px 16px;
}

.feedback-input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #04AA6D;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #04AA6D; }

.registra {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#04AA6D;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.registra:hover { background:#04AA6D; }


/*Taula llista Clients*/
table, th, td {
    border: 1px solid black;
}

.imgTable{
    width: 5%;
    height: 5%;
}

table {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    margin: 2rem;
}

footer{
    display: flex;
    /*background: linear-gradient(to right, #f70000, #FBE0DB, #1100ff, #F6FBDB);*/
    width: 100%;
    position: marker;
    bottom: 0;
    left: 0;
}

/*Missatges d'error al moment de registrar i editar clients*/
#flashErrorDni{
    color: red;
}

#flashErrorNom{
    color: red;
}

#flashErrorAdreca{
    color: red;
}

#flashErrorCodPostal{
    color: red;
}

#flashErrorPoble{
    color: red;
}

#flashErrorEmail{
    color: red;
}

#flashErrorTelefon{
    color: red;
}

#flashErrorFoto{
    color: red;
}

/*Missatges d'error al moment de registrar i editar productes*/
#flashErrorRef{
    color: red;
}

#flashErrorTitol{
    color: red;
}

#flashErrorDesc{
    color: red;
}